body {
    background-color: #141414;
  
    overflow-x: hidden;
  }
  
  

  .ag-format-container {
    width: 1160px;
    margin: 0 auto;
    
    position: relative;
  }
  
  .ag-timeline-block {
    padding: 0px 0;
    position: relative; /* make sure child elements with absolute positioning use this as a reference */

  }


 

.background-container {
  background-image: url('https://i.pinimg.com/originals/0a/f9/47/0af94751e7e1c6fafded4837dbabd1f9.jpg');  /* Replace with your image path */
  background-size: cover;  /* This will make sure the image covers the entire container */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat;  /* Makes sure the image doesn't repeat */
  height: 100vh;  /* This makes the container take the entire viewport height */
  width: 100%;  /* Makes sure the container takes the full width of the viewport */
  position: relative; 
}

.ag-timeline_title-box {
  padding: 0 0 30px;
  text-align: center;
  
  position: absolute;
  top: 270px;       /* added 'px' */
  left: 150px; 
} 



  .ag-timeline_tagline {
    font-family: 'Courier New', monospace;
    font-size: 50px;
    color: #302e2e;
    text-align: left;
  }
  .ag-timeline_title {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbMxMp07R0cTaJ4OP7opgaw6npTxJNkECFxw&usqp=CAU);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    /*text-fill-color: transparent;*/
    color: transparent;
  
    font-size: 20px;
    font-family: 'Courier New', monospace;
    text-align: left;


    display: inline-block;
    vertical-align: middle;  
  }

  .down-arrow {
    position: absolute;
    top: calc(95vh - 15px); /* Adjusted to position the arrow's center at the bottom */
    left: 50%;
    transform: translateX(-50%); /* Only translate horizontally */
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
    animation: jumpInfinite 3.5s infinite;
    display: inline-block;
}
  
.down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
}
  
@keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 10px;
    }
    100% {
      margin-top: 0;
    }
}


.anchor-container {
  position: absolute;
  top: 10px; /* margin from the top */
  right: 10px; /* margin from the right */
  z-index: 10; /* make sure it stays on top */
  display: flex;
  gap: 10px; 
}

.anchor-container button {
  display: block;  /* stack them vertically */
  margin-bottom: 5px; /* space between buttons */
  background-color: #333; /* button color */
  color: #fff; /* text color */
  border: none;
  padding: 10px 15px; /* button padding */
  cursor: pointer;
  border-radius: 5px; /* rounded corners */
  transition: background-color 0.3s; /* smooth color change on hover */
}

.anchor-container button:hover {
  background-color: #555; /* color change on hover */
}


.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}




#iframe2 {
  overflow-y: hidden;
}
  
